:root {
    /* Cores principais */
    --cor-principal: #0B0D20; /* Cor principal */
    --cor-secundaria: #1124b0; /* Cor secundária */
    --cor-destaque: #4efd2b; /* Cor de destaque */
    --cor-texto: #D7F9FF; /* Cor do texto */

    /* Cores neutras */
    --cor-neutro-verde: #A5D8A5; /* Verde neutro */
    --cor-neutro-marrom: #8C6A5D; /* Marrom neutro */
    --cor-bordas: #6C4F4F; /* Cor para bordas */

    /* Gradientes */
    --gradiente-fundo: linear-gradient(rgba(0, 0, 0, 0.7), rgba(75, 0, 130, 0.7));
}

body {
    background: var(--gradiente-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif; /* Fonte mais elegante */
    margin: 0;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 30px;
    border-radius: 20px; /* Arredondar os cantos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border: 2px solid var(--cor-bordas); /* Borda com cor neutra */
}

h1 {
    color: var(--cor-destaque);
    margin-bottom: 20px;
    font-size: 2rem; /* Tamanho de fonte maior para o título */
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 20px; /* Arredondar os cantos */
    padding: 10px 20px; /* Diminuir a espessura do botão */
    font-size: 0.9rem; /* Tamanho de fonte ajustado */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Sombra cinza pequena */
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transform: scale(1.05); /* Leve aumento de tamanho no hover */
}

button:focus {
    outline: none; /* Remover o contorno padrão ao focar */
}

.caixa-perguntas {
    padding-bottom: 20px;
}
